html,
body,
header,
#landing {
    height: 100%;
    background: url("../img/photos/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.landing-content {
    margin: 0 auto;
    max-width: 640px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}

.landing-content img {
    max-height: 100px;
    max-width: 60%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.landing-content h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 900;
}

.landing-content p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}

.landing-content .btn {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
}

.landing-content .md-form {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}